
.philosophie
{ 
	
    font-size: 60px;
    
}



h1
{ 
	display: flex;
	justify-content: center;
	padding-top: 70px;
    font-size: 50px;
    font-weight: 400;
   color: black;
    margin: 0 11px;
}



h4
{
	display: flex;
	justify-content: center;
	padding-top: 0.1px;
	 color: black;
	 padding-bottom: 30px;


}



}

h2
{ 
	display: flex;
	justify-content: center;
	 padding-top: 40px;
	 font-size: 50px;

	
}

#list-group list-group


.label

{
	display: flex;
	justify-content: center;
	padding-top: 70px;
    font-size: 50px;
	
}








